{% extends "index.html" %} 
{% block body %} 
<div class="container my-4"> 
  <h2>Add a Todo</h2> 
  <form action="/" method="POST"> 
    <div class="mb-3"> 
      <label for="title" class="form-label">Todo Title</label> 
      <input type="text" class="form-control" name="title" id="title" required> 
    </div> 
    <div class="mb-3"> 
      <label for="desc" class="form-label">Todo Description</label> 
      <input type="text" class="form-control" name="desc" id="desc" required> 
    </div> 
    <div class="mb-3"> 
      <label for="deadline" class="form-label">Todo Deadline</label> 
      <input type="datetime-local" class="form-control" name="deadline" id="deadline"> 
    </div> <button type="submit" class="btn btn-dark">Submit</button> </form> 
  </div> 
  {% endblock %}